@font-face {
    font-family: "DFYuan-Md-HK-BF";
    src: url("DFYuan-Md-HK-BF.eot"); /* IE9 */
    src: url("DFYuan-Md-HK-BF.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("DFYuan-Md-HK-BF.woff") format("woff"), /* chrome、firefox */
    url("DFYuan-Md-HK-BF.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("DFYuan-Md-HK-BF.svg#DFYuan-Md-HK-BF") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


